# Test the functionality of the rgbpp-sdk packages.

name: Test

on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout rgbpp-sdk
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - uses: pnpm/action-setup@v2
        name: Install -g pnpm
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm i

      - name: Lint
        run: pnpm lint
        
      - name: Run tests for packages
        run: pnpm run test:packages
        env:
          VITE_SERVICE_URL: ${{ secrets.SERVICE_URL }}
          VITE_SERVICE_TOKEN: ${{ secrets.SERVICE_TOKEN }}
          VITE_SERVICE_ORIGIN: ${{ secrets.SERVICE_ORIGIN }}
